table {
    border-collapse: collapse;
    margin: 25px,0;
    font-size: 100%;
    min-width: 100%;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(180, 175, 175);
    

 }

table thead tr{
   background-color: #009879;
   color: #ffffff;
   text-align: left;
 }
 table tbody td:hover{
   background:rgb(233, 227, 227);
 }
 table td th {
   padding: 12px ,15px;
 } 
 table tbody  tr {
      border-bottom:1px solid #dddddd;
 }
 table tbody tr :nth-of-type(even){
   background-color: #f3f3f3;

 } table tbody tr:last-of-type{
   border-bottom: 2px solid #009879;
 }
 